* {
    /* padding will stretch the page 
    prevents from happening horizontal scroll bar*/
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    /*stretch the height 100%*/
    /* background-color: gray;/ */
}


a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

.welcome-section {
    min-height: 100vh;
    background-color: teal;
}

.projects {
    min-height: 100vh;
    background-color: turquoise;
}

.profile-link {
    position: relative;
    min-height: 100vh;
    background-color: tomato;
}

.footer-section {
    position: absolute;
    height: 10vh;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.301);
}
